@page
@model DZ4.Pages.RegisterFormModel
@{
}

<h1 class="text-center mb-3">Регистрация пользователя</h1>
<hr />

<div style="max-width:400px; margin: 0 auto;">
    <form method="post">
        <div class="mb-2">
            <label class="form-label" asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" />
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="mb-2">
            <label class="form-label" asp-for="EmailAddress"></label>
            <input class="form-control" asp-for="EmailAddress" />
            <span class="text-danger" asp-validation-for="EmailAddress"></span>
        </div>
        <div class="mb-2">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" type="password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-2">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" type="password" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="mb-2">
            <button class="btn btn-success" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>